@media (max-width: 768px) {
	.counter-grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
	}
	.grid-box {
		padding: 0 0.5rem;
	}
	.grid-box-2 {
		border: none;
	}
	.grid-box-1,
	.grid-box-3 {
		margin-right: -1.4rem;
	}
	.counter-shape {
		height: auto;
		width: auto;
	}
	.box-text {
		line-height: 1.2;
	}
}
