@media (max-width: 768px) {
	/* fixed */
	#fixed-cta {
		display: none;
	}
	/* hero section */
	#hero .hero-search-box {
		width: 100%;
	}
	.hero-main {
		display: block;
	}
	.hero-main-img {
		margin: 0.5rem 0;
	}
	.hero-card-grid {
		margin-top: 6rem;
		gap: 1rem;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
		justify-content: center;
	}
	.hero-card-box {
		margin: 1rem 0 1rem;
		position: relative;
	}
	.hero-main-btn .btn-primary {
		padding: 10px;
		width: 50%;
	}
	/* category section */
	#category .category-grid {
		gap: 1rem;
		grid-template-columns: repeat(2, 150px);
		grid-template-rows: repeat(4, autofill);
		justify-content: center;
	}
	.category-grid-box {
		width: 100%;
		height: 100%;
	}
	.category-box-spacing {
		padding: 0;
	}
	/* counter section */
	.counter-grid {
		grid-template-columns: 1fr;
		gap: 3rem;
	}
	.grid-box-1,
	.grid-box-3 {
		margin-right: 0;
	}
	.grid-box {
		padding: 0 0.5rem;
		border: none;
	}

	.counter-shape {
		height: auto;
		width: auto;
	}
	.box-text {
		line-height: 1.2;
	}
	/* facility */
	#facility .facility-container {
		display: block;
	}
	/* recommendation */
	#recommendation .recommendation {
		display: flex;
		flex-direction: column;
	}
	.recommendation-left {
		margin-top: 1.5rem;
	}
	.recommendation-left::before,
	.recommendation-left::after {
		display: none;
	}
	.recommendation-pera {
		width: 100%;
		margin: 1rem 0 2.4rem;
		font-size: 18px;
		color: #676a6c;
	}
	.recommendation-right {
		order: -1;
	}
	/* subscribe  */
	.subs-flex {
		display: block;
	}
	.subs-left,
	.subs-right {
		width: 100%;
	}
	.subs-btn {
		display: block;
		position: relative;
		margin: 8px auto;
		top: 0;
		right: 0;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	/* tablet screens lg */
	/* category section */
	.category-grid {
		display: grid !important;
		gap: 1rem !important;
		grid-template-columns: repeat(3, auto) !important;
		grid-template-rows: repeat(3, auto) !important;
		justify-content: center !important;
	}

	.category-box-spacing {
		width: 100%;
		padding: 0;
	}
}

@media (min-width: 1920px) {
	/* Pc screens lg / extra large  */
}
