* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

body {
	box-sizing: border-box;
}
/***** pre loader *****/
#preloader {
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader3 {
	width: 5rem;
	height: 5rem;
	display: inline-block;
	padding: 0;
	text-align: left;
}

.loader3 span {
	position: absolute;
	display: inline-block;
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	background: #f33737;
	-webkit-animation: loader3 1.5s linear infinite;
	animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
	animation-delay: -0.9s;
	-webkit-animation-delay: -0.9s;
}

@keyframes loader3 {
	0% {
		transform: scale(0, 0);
		opacity: 0.8;
	}

	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}

@-webkit-keyframes loader3 {
	0% {
		-webkit-transform: scale(0, 0);
		opacity: 0.8;
	}

	100% {
		-webkit-transform: scale(1, 1);
		opacity: 0;
	}
}

/***** End pre loader *****/

/***** Hero Section *****/
/* hero search section */
#hero .hero-search-box {
	padding: 3px 0;
	height: auto;
	position: relative;
	width: 40%;
	margin: 0 auto;
}
form .form-control {
	width: 100%;
	height: 48px;
	padding-left: 56px;
	border-radius: 1.5rem;
}
form a {
	position: absolute;
	top: 14px;
	left: 26px;
}
/* hero main section */
.hero-main {
	margin: 2rem 0;
	display: flex;
	justify-content: center;
}
.hero-main-heading {
	line-height: 1.4;
	font-size: 40px;
}
.hero-main h1 {
	padding: 0.5rem 0;
	font-size: 48px;
	background: linear-gradient(#159dff, #004a80);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.hero-main-pera {
	margin: 2rem 0;
	color: #425466;
	width: 80%;
}
.hero-main-btn {
	display: flex;
	align-items: center;
	gap: 3rem;
}
/* hero card Section */
.hero-card-grid {
	width: 100%;
	display: grid;
	gap: 1.8rem;
	grid-template-columns: repeat(4, 1fr);
	align-items: baseline;
}
.hero-card-text {
	border: 1px solid black;
	padding: 32px 0;
	padding-left: 22px;
	border-radius: 12px;
}
.hero-card-box {
	margin: 3rem 0 1rem;
	position: relative;
}
.hero-card-img {
	position: absolute;
	top: -60px;
	right: -12px;
}
/***** End Hero Section *****/

/***** category *****/
#category .category-grid {
	margin-top: 4rem;
	display: grid;
	gap: 3rem;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
}
.category-grid-box {
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	padding: 1.5rem;
	min-width: 280px;
	min-height: 280px;
	position: relative;
}
.category-grid-box:hover p {
	color: #fff;
}
.category-grid-box:hover .category-grid-box-overlay {
	visibility: visible;
	bottom: 0%;
	right: 0%;
	transition: all linear 0.5s;
}
.category-grid-box-overlay {
	z-index: -1;
	visibility: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: -20%;
	right: -20%;
}
/* .category-grid-box:hover {
	padding: 1.5rem;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	background: url(../images/category-card-hover-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all linear 1s;
	bottom: 0;
	right: 0;
} */
.category-grid-box p {
	text-align: baseline;
}
.category-grid-box .semi-bold {
	font-weight: 600;
}
.category-grid-box .regular {
	font-weight: 500;
}
.category-box-spacing {
	margin: 0 auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: space-evenly;
	align-items: center;
}
.category-box-spacing img {
	width: 75%;
}
/***** End category *****/

/***** Community Section *****/
#community {
	margin: 4rem 0;
}
.community-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
}
.community-para {
	width: 81%;
}
/***** End Community Section *****/
/***** Other facility *****/
#facility .facility {
	position: relative;
	margin-top: 4rem;
	margin-bottom: 1rem;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	border-radius: 1.5rem;
	border: 1px solid #00a3ff;
}
.facility-shape {
	position: absolute;
	bottom: 0;
	right: 0;
}
.facility-spacing {
	width: 100%;
	height: 100%;
	margin-top: 1rem;
}
#facility .facility-container {
	margin: 39.5px auto;
	padding: 1rem 0;
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.facility-container p {
	padding: 1.25rem;
	font-weight: 700;
}
/***** End Other facility *****/

/***** Counter *****/
#counter-section .bg-counter {
	width: 100%;
	padding: 3rem 0;
	margin-top: 2rem;
	margin-bottom: 3rem;
}
.bg-counter .counter-shape {
	position: absolute;
	bottom: 0;
	left: 0;
}
.counter-spacing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 1.5rem 0;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
	min-height: 221px;
}
.counter-grid {
	margin: 0 auto;
	height: 100%;
	width: 85%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-content: center;
	justify-content: space-evenly;
	align-items: baseline;
	gap: 1rem;
}
.grid-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;
	gap: 0.5rem;
	border-right: 1.5px solid #d9d9d9;
}
.grid-box-4 {
	border: none;
}
.box-img {
	align-self: center;
}
.box-text {
	width: 75%;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
}
.strong {
	font-size: 2rem;
	font-weight: 700;
}
.box-text .strong,
.box-text .bangla {
	display: block;
}
/***** Recommendation *****/
#recommendation {
	margin: 2rem 0;
}
#recommendation .recommendation {
	display: flex;
	align-items: center;
}
.recommendation-left {
	margin-left: 1rem;
	position: relative;
}
.recommendation-left .recommendation-heading span {
	font-size: 35px;
	line-height: 1;
}
.recommendation-left::before {
	height: 1px;
	width: 25%;
	background-color: #9f9f9f;
	content: '';
	position: absolute;
	top: -33px;
	left: -17px;
}
.recommendation-left::after {
	height: 85px;
	width: 1px;
	background-color: #9f9f9f;
	content: '';
	position: absolute;
	top: -32px;
	left: -17px;
}
.recommendation-left h1 {
	font-size: 50px;
	color: #00a3ff;
}
.recommendation-pera {
	width: 75%;
	margin: 1rem 0 5.4rem;
	font-size: 18px;
	color: #676a6c;
	text-align: baseline;
}

/***** End Recommendation *****/

/***** Subscribe Section *****/
#subscribe {
	position: relative;
	padding: 1rem 0;
}
.subs-flex {
	padding: 25px 36px 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
	margin: 0 auto;
	border: 1px solid #00a3ff;
	border-radius: 2rem;
}
.subs-left {
	width: 50%;
	font-size: 30px;
}
.subs-left h3 {
	padding: 0.5rem 0;
	background: linear-gradient(#159dff, #004a80);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 45px;
}
.subs-right {
	margin-right: 8px;
	position: relative;
	width: 50%;
}
.subs-right .form-control {
	height: 3rem;
}
.subs-right .form-control:focus {
	box-shadow: none;
}
.subs-btn {
	height: 3rem;
	width: 9rem;
	border-radius: 24px;
	line-height: 2rem;
	background: #00a3ff;
	position: absolute;
	top: -1px;
	right: -1rem;
}
.subs-btn:hover {
	background: #159dff !important;
}
.subs-btn a {
	color: white;
}
.subs-btn a:hover {
	color: white;
}
/***** End Subscribe Section *****/
