* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

body {
	box-sizing: border-box;
}
/***** pre loader *****/
#preloader {
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader3 {
	width: 5rem;
	height: 5rem;
	display: inline-block;
	padding: 0;
	text-align: left;
}

.loader3 span {
	position: absolute;
	display: inline-block;
	width: 5rem;
	height: 5rem;
	border-radius: 100%;
	background: #f33737;
	-webkit-animation: loader3 1.5s linear infinite;
	animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
	animation-delay: -0.9s;
	-webkit-animation-delay: -0.9s;
}

@keyframes loader3 {
	0% {
		transform: scale(0, 0);
		opacity: 0.8;
	}

	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}

@-webkit-keyframes loader3 {
	0% {
		-webkit-transform: scale(0, 0);
		opacity: 0.8;
	}

	100% {
		-webkit-transform: scale(1, 1);
		opacity: 0;
	}
}

/***** End pre loader *****/
/***** category *****/

/***** End category *****/
#category .category-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

/***** Other facility *****/

.facility-spacing {
	background: url(../images/facility-bg.png);
	background-position: center center;
	background-size: cover;
	position: relative;
	z-index: -1;
	padding: 2.25rem 0;
}
#facility .facility-container {
	margin: 39.5px auto;
	padding: 1rem 0;
	width: 60%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.facility-container p {
	padding: 1.25rem;
	font-weight: 700;
}
/***** End Other facility *****/
/***** Counter *****/
#counter .bg-counter {
	background: url(../images/bg-counter.png);
	background-position: center center;
	background-size: cover;
	position: relative;
	padding: 4rem 2rem;
	margin-top: 2rem;
	margin-bottom: 3rem;
	z-index: -1;
}

.counter-grid {
	margin-top: 2rem;
	margin-bottom: 2rem;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-content: center;
	justify-content: space-evenly;
	align-items: baseline;
	gap: 1rem;
}
.grid-box {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 0 4rem;
	gap: 0.5rem;
	border-right: 1px solid #d9d9d9;
}
.grid-box-4 {
	border: none;
}
.box-img {
	width: 40%;
}
.box-text {
	width: 60%;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}
.strong {
	font-size: 2rem;
	font-weight: 700;
}
.box-text .strong,
.box-text .bangla {
	display: block;
}

/***** End Counter *****/
